<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us - Nook Book</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Font awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="../css/about.css">
</head>

<body>
  <header>
    <div>
        <%- include('navbar') -%>
    </div>
  </header>
  <%- include('wishlistModal') -%>
  <div class="hero">
    <div class="container">
      <h1>About Nook Book</h1>
      <p class="about-paragraph">Welcome to Nook Book, your ultimate destination for discovering and exploring your
        favorite books. Dive into our vast collection of titles, connect with fellow book lovers, and embark on a
        literary journey like never before.</p>
    </div>
  </div>

  <div class="mission">
    <div class="container">
      <h2>Our Mission</h2>
      <p class="about-paragraph">At Nook Book, our mission is to revolutionize the way people experience reading and
        literature. We are dedicated to promoting literacy and fostering a deep love for books in individuals of all
        ages and backgrounds. Through our platform, we aim to empower readers to discover, explore, and engage with a
        diverse range of stories from around the globe.</p>
      <p class="about-paragraph">We strive to create an inclusive community where book enthusiasts can connect, share
        their thoughts, and forge meaningful relationships with authors and fellow readers. Our commitment extends
        beyond merely providing access to books; we aspire to cultivate a vibrant literary ecosystem that inspires
        curiosity, sparks creativity, and enriches lives.</p>
      <p class="about-paragraph">With a relentless focus on innovation and user experience, we continuously evolve our
        platform to deliver seamless access to the world's literature. Whether you're a seasoned bibliophile or just
        beginning your reading journey, Nook Book is your trusted companion in the world of literature.</p>
    </div>
  </div>


  <div class="team">
    <div class="container">
      <h2>Meet Our Team</h2>
      <div class="team-members">
        <div class="member">
          <img src="../images/employee2.avif" alt="Team Member 1">
          <h3>Shruti Shrivastava</h3>
          <p>Co-Founder & CEO</p>
        </div>
        <div class="member">
          <img src="../images/employee1.avif" alt="Team Member 2">
          <h3>Ann Maria Jose</h3>
          <p>Co-Founder & CEO</p>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') -%>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/common.js"></script>
</body>
</html>